---
export interface Props{ beat?: string }
const { beat = 'GENERAL' } = Astro.props;
---
<div class="slugline">WASHBURO • {beat} • <time datetime={new Date().toISOString()}>{new Date().toLocaleString('en-US', { timeZone: 'America/New_York'})}</time></div>
